<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />	
  </head>
  <body>
  	<div class= "row">
  		<div class="span3 offset3">
			<a href="/auth/twitter">Sign in with Twitter</a>
		</div>
	</div>
  </body>
</html>