<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />	
  </head>
  <body>
  	<div class = "row">
	<div class = "span4 offset4">
		<img class="extrabottom">
		<form action="/login" class="form-horizonatal well" method="post"  id="login-form">
			<label>Handle</label>
			<input type="text" name="username">
			<label>Password</label>
			<input type="password" name="password">
			<div class ="span2 offset2">
				<button class="btn btn-primary">Login</button>
			</div>
		</form>
	</div>
</div>
  </body>
</html>










